<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="megamenu_listing_data_source" xsi:type="string">Emthemes\MegaMenu\Model\ResourceModel\Menu\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
	<type name="Emthemes\MegaMenu\Model\ResourceModel\Menu\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">emthemes_megamenu</argument>
            <argument name="eventPrefix" xsi:type="string">emthemes_megamenu_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">megamenu_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Emthemes\MegaMenu\Model\ResourceModel\Menu</argument>
        </arguments>
    </type>
</config>
